

.popDiv {
    transition: .5s;
    position: absolute;
    left: 100%;
    float: right;
    margin-right: 20px ;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width:256px;
    height: 64px;
    
    background-color: #2b2b2b;
    
}

.popHeader{
    background-color: #1e1e1e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    /* width: 100%; */
    height: 20px;
    border-bottom: 1px solid #ccc;
}
.popBody{
    padding-left: 12px;
    width: 100%;
}

.popTitleText{
    margin-top: 4px;
    padding-left: 8px;
    margin: 2px;
    font-size: 16px;
    color: white;
}

.popBodyText{
    margin: 0px;
    padding-left: 12px;
    font-size: 14px;
    color: white;
}

.popXButton{
   
    border-top-right-radius: 8px;

    float: right;
    color: #b3b3b3;
    /* margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
    margin-bottom: 6px; */
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    -webkit-app-region: no-drag;
}
.popXButton:hover{
    background-color: #ff6600;
    color: #ffffff;
    transition: .2s;
}
.popXSVG{
    margin-top: -2px;
    margin-left: -8px;
    transform: scale(.5);
    width: 24px;
    height: 24px;
    fill: transparent;
    /* fill: "none"; */
    stroke-width:2; 
    stroke: currentColor;
    stroke-linecap:round; 
    stroke-linejoin: round; 
}
